* {
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: 11px;
}

body,
html {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  height: 100%;
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  flex-direction: column;
  filter: drop-shadow(0 0 0.33rem rgb(0, 0, 0));
}

p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.image {
  border-radius: 10px;
  width: 300px;
}

.container {
  position: relative;
  border-radius: 10px;
  width: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 300px;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%, 40%);
  cursor: pointer;
}

.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .overlay {
  opacity: 1;
}

.image:hover {
  cursor: pointer;
  background-color: lawngreen;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar p {
  margin-left: 15px;
}

.avatar-img {
  outline: white 2px solid;
  border-radius: 100%;
  width: 30px;
  margin-right: 5px;
}

.title {
  color: white;
  font-weight: 800;
}

h1 {
  display: inline-block;
  margin-bottom: 0;
}

.title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.price {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
}

.price span {
  margin-left: 5px;
}

.time {
  display: flex;
  align-items: center;
}

.time span {
  margin-left: 5px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5%;
  font-weight: 400;
}

.line {
  color: hsl(215, 32%, 27%);
}

.name {
  color: white;
}

.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
